.main {
    /* background-image: url("/images/gettyimage.jpg"); */
    /* background-color: green; */
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

   
  .header-content {
    width: 50%;
    position: relative;
    left: 10%;
    box-shadow: 0 2px 4px rgb(255 255 255);
  }
  .header-content:hover {
    transform: translateY(-10px);
    box-shadow: -13px -5px 21px -9px black,0px 10px 15px -3px black,0px 10px 15px -3px black;
    /* transition: transform 0.3s ease-in-out; */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: slideIn 1s ease-in-out;
  }

  .header-content h1 {
    font-size: 48px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    animation: slideIn 1s ease-in-out;
  }
 
  .header-content p {
    font-size: 24px;
    color: #fff;
    margin-top: 30px;
  }
 
  .head-left {
    color: white;
    position: relative;
    left: 15%;
    

  }

  .head-left ul li {
    list-style: none;
    color: white;
    text-align: left;
  }
 
  .serif {
    font-family: Palatino,Georgia,Times New Roman,Times,serif;
  }
/* Education Section */
#education {
    /* background-image: linear-gradient(-180deg,#1a1527,#0e0c16 88%,#0e0c16 99%); */
    padding: 80px 0;
    background-color: #0f0d15;
    background-position: top;
    background-repeat: repeat-x;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    height: auto;
    color: white;
    opacity: 1;
    animation: fadeIn 1s ease-in-out;
  }
  .card > h3 {
    text-align: center;
    color: #3effdf;
  }
  h2 {
    
    color: #988e9f;
    font-family: "";
    margin-bottom: 30px;
    text-align: center;
  }
  #testimonials h2 {
    padding: 20px;
  }
  
  .education-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .card {
    background-color: transparent;
    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 2px 4px rgb(255 255 255);
    width: 300px;
    height: 250px;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
   
   
  }
  
  #popup,#popup1,#popup2 {
    background-color: #3b2929;
  }
  div.pop {
    padding: 35px;
}


  .card:hover {
    transform: translateY(-10px);
    box-shadow: -13px -5px 21px -9px black,0px 10px 15px -3px black,0px 10px 15px -3px black;
  }
  
  .card h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 18px;
    margin-bottom: 5px;
    line-height: 1.5;
  }
  .Cardbtn{
    position: absolute;
    bottom: 5px;
    left: 29%;
    border-radius: 5px;
    border: 1px solid #53a3ff99;
    color: white;
  }
  .Cardbtn:hover {
    -webkit-box-shadow: 9px 9px 20px 0px rgba(123,132,184,0.62);
-moz-box-shadow: 9px 9px 20px 0px rgba(123,132,184,0.62);
box-shadow: 9px 9px 20px 0px rgba(123,132,184,0.62);
color: #207abdde;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  } 
.pop {
  display: none;
  padding-top: 100px; /* Location of the box */
  left: 25%;
  top: 20%;
  width: 50%; /* Full width */
  height: 70%; /* Full height */
  z-index: 1;
  position: fixed; /* Stay in place */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  overflow: auto;
  
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
}
.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/* Experience Section  */
#carouselExampleIndicators {
  padding: 20px;
 margin-top: 3%;
 height: 200px;
  text-align: center;
  color: white;
}
.carousel-item h2{

  text-align: center !important;
  font-size: 25px
      
}
#testimonials {
  background-color: black;
}
  
/* Divide scroll effect */
/* body {
  margin:0 auto;
  } */
  .tile {
   
      -webkit-transform: translateY(50px) rotate(-5deg) translateZ(0);
      transform: translateY(50px) rotate(-5deg) translateZ(0);
      -webkit-transition-delay: .3s;
      -o-transition-delay: .3s;
      transition-delay: .3s;
      -webkit-transition: .4s;
      -o-transition: .4s;
      transition: .4s;
      opacity: 0;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
  }
  .bottom-right.inView {
      opacity: 1;
      -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
      transform: translateY(0px) rotate(0deg) translateZ(0);
  }
  .inView {
       opacity: 1;
      -webkit-transform: translateY(0px) rotate(0deg) translateZ(0);
      transform: translateY(0px) rotate(0deg) translateZ(0);
  }
  .navbar {
    position: absolute;
    top: 0;
    right: 5%;
  }
  .download-button {
    position: absolute;
  left: 10%;
    top: 80%;
  }


  @media screen and (max-device-width: 640px) and (min-device-width: 360px) and (orientation: portrait) 
  {
    .header-content{
      width: 80%;
      position: relative;
    }
    .head-left {
      display: none;
    }
    #carouselExampleIndicators{
height: auto;
    }
  }
  @media (min-width: 768px) {
  .main {
    position: relative;
  }
  .main .row {
    position: absolute;
    top: 30%;
  }

  }

  /* Timeline */
  a{text-decoration:none}
h4{text-align:center;margin:30px 0;color:#444}

.main-timeline{
  position:relative
}

.main-timeline:before{
  content:"";width:5px;height:100%;margin:0 auto;
  background:#242922;position:absolute;top:0;left:0;right:0;
  border-radius:20px;
}

.main-timeline .timeline{
  display:inline-block;margin-bottom:50px;position:relative
}

.main-timeline .timeline:before{
  content:"";width:20px;height:20px;border-radius:50%;border:4px solid #fff;background:#ec496e;position:absolute;top:50%;left:50%;z-index:1;transform:translate(-50%,-50%)}

.main-timeline .timeline-icon{display:inline-block;width:130px;height:130px;border-radius:50%;border:3px solid #ec496e;padding:13px;text-align:center;position:absolute;top:50%;left:30%;transform:translateY(-50%)}
.main-timeline .timeline-icon i{display:block;border-radius:50%;background:#ec496e;font-size:64px;color:#fff;line-height:100px;z-index:1;position:relative}
.main-timeline .timeline-icon:after,.main-timeline .timeline-icon:before{content:"";width:100px;height:4px;background:#ec496e;position:absolute;top:50%;right:-100px;transform:translateY(-50%)}
.main-timeline .timeline-icon:after{width:70px;height:50px;background:#fff;top:89px;right:-30px}

.main-timeline .timeline-content{width:50%;padding:0 50px;margin:52px 0 0;float:right;position:relative}
.main-timeline .timeline-content:before{content:"";width:70%;height:100%;border:3px solid #ec496e;border-top:none;border-right:none;position:absolute;bottom:-13px;left:35px}
.main-timeline .timeline-content:after{content:"";width:37px;height:3px;background:#ec496e;position:absolute;top:13px;left:0}

.main-timeline .title{font-size:20px;font-weight:600;color:#ec496e;text-transform:uppercase;margin:0 0 5px}
.main-timeline .description{display:inline-block;font-size:16px;color:#404040;line-height:20px;letter-spacing:1px;margin:0}

.main-timeline .timeline:nth-child(even) .timeline-icon{left:auto;right:30%}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-100px}
.main-timeline .timeline:nth-child(even) .timeline-icon:after{right:auto;left:-30px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:left}
.main-timeline .timeline:nth-child(even) .timeline-content:before{left:auto;right:35px;transform:rotateY(180deg)}
.main-timeline .timeline:nth-child(even) .timeline-content:after{left:auto;right:0}
.main-timeline .timeline:nth-child(2n) .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-icon i,.main-timeline .timeline:nth-child(2n) .timeline-icon:before,.main-timeline .timeline:nth-child(2n):before{background:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-icon{border-color:#f9850f}
.main-timeline .timeline:nth-child(2n) .title{color:#f9850f}
.main-timeline .timeline:nth-child(2n) .timeline-content:before{border-left-color:#f9850f;border-bottom-color:#f9850f}
.main-timeline .timeline:nth-child(3n) .timeline-content:after,.main-timeline .timeline:nth-child(3n) .timeline-icon i,.main-timeline .timeline:nth-child(3n) .timeline-icon:before,.main-timeline .timeline:nth-child(3n):before{background:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-icon{border-color:#8fb800}
.main-timeline .timeline:nth-child(3n) .title{color:#8fb800}
.main-timeline .timeline:nth-child(3n) .timeline-content:before{border-left-color:#8fb800;border-bottom-color:#8fb800}
.main-timeline .timeline:nth-child(4n) .timeline-content:after,.main-timeline .timeline:nth-child(4n) .timeline-icon i,.main-timeline .timeline:nth-child(4n) .timeline-icon:before,.main-timeline .timeline:nth-child(4n):before{background:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-icon{border-color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .title{color:#2fcea5}
.main-timeline .timeline:nth-child(4n) .timeline-content:before{border-left-color:#2fcea5;border-bottom-color:#2fcea5}
@media only screen and (max-width:1200px){.main-timeline .timeline-icon:before{width:50px;right:-50px}
.main-timeline .timeline:nth-child(even) .timeline-icon:before{right:auto;left:-50px}
.main-timeline .timeline-content{margin-top:75px}
}
@media only screen and (max-width:990px){.main-timeline .timeline{margin:0 0 10px}
.main-timeline .timeline-icon{left:25%}
.main-timeline .timeline:nth-child(even) .timeline-icon{right:25%}
.main-timeline .timeline-content{margin-top:115px}
}
@media only screen and (max-width:767px){.main-timeline{padding-top:50px}
.main-timeline:before{left:80px;right:0;margin:0}
.main-timeline .timeline{margin-bottom:70px}
.main-timeline .timeline:before{top:0;left:83px;right:0;margin:0}
.main-timeline .timeline-icon{width:60px;height:60px;line-height:40px;padding:5px;top:0;left:0}
.main-timeline .timeline:nth-child(even) .timeline-icon{left:0;right:auto}
.main-timeline .timeline-icon:before,.main-timeline .timeline:nth-child(even) .timeline-icon:before{width:25px;left:auto;right:-25px}
.main-timeline .timeline-icon:after,.main-timeline .timeline:nth-child(even) .timeline-icon:after{width:25px;height:30px;top:44px;left:auto;right:-5px}
.main-timeline .timeline-icon i{font-size:30px;line-height:45px}
.main-timeline .timeline-content,.main-timeline .timeline:nth-child(even) .timeline-content{width:100%;margin-top:-15px;padding-left:130px;padding-right:5px}
.main-timeline .timeline:nth-child(even) .timeline-content{float:right}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(even) .timeline-content:before{width:50%;left:120px}
.main-timeline .timeline:nth-child(even) .timeline-content:before{right:auto;transform:rotateY(0)}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(even) .timeline-content:after{left:85px}
}
@media only screen and (max-width:479px){.main-timeline .timeline-content,.main-timeline .timeline:nth-child(2n) .timeline-content{padding-left:110px}
.main-timeline .timeline-content:before,.main-timeline .timeline:nth-child(2n) .timeline-content:before{left:99px}
.main-timeline .timeline-content:after,.main-timeline .timeline:nth-child(2n) .timeline-content:after{left:65px}
}
